<div class="container">
  <%= render "layouts/errors", obj: @chat %>
  <div class="row">
    <div class="col-xs-6">
      <h2><%= @user.name %> さんとのチャット</h2>

      <table class="message table">
        <thead>
          <tr>
            <th style="text-align: left; font-size: 20px;"><%= @user.name %></th>
            <th style="text-align: right; font-size: 20px;"><%= current_user.name %></th>
          </tr>
        </thead>
      </table>
          <% @chats.each do |chat| %>
            <% if chat.user_id == current_user.id %>
                <p style="text-align: right; font-size: 15px;"><%= chat.message %></p>
              <% else %>
                <p style="text-align: left; font-size: 15px;"><%= chat.message %></p>
            <% end %>
          <% end %>

        <%= form_with model: @chat, remote: true do |f| %>
          <%= f.text_area :message, rows: '3', placeholder: "140文字以内", class: 'w-100' %>
          <%= f.hidden_field :room_id %>
          <%= f.submit "投稿" %>
        <% end %>
    </div>
  </div>
</div>
